body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.content {
    flex: 1;
    padding: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar select, .search-bar input[type="text"] {
    margin-right: 10px;
    padding: 10px;
}

.search-bar .search-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.results {
    margin-top: 20px;
}

table.data {
    width: 100%;
    border-collapse: collapse;
}

table.data th, table.data td {
    border: 1px solid #ddd;
    padding: 8px;
    position: relative;
}

table.data th {
    background-color: #f2f2f2;
    text-align: left;
}

.condition {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.condition select, .condition input {
    margin-right: 10px;
}

.highlight {
    background-color: yellow;
}

.resizer {
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: col-resize;
    user-select: none;
}

.hidden {
    display: none;
}

.toggle-button {
    margin-left: 5px;
    padding: 2px 5px;
    cursor: pointer;
}

.hidden-columns-container {
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.hidden-columns-container h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
}

.hidden-columns-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hidden-columns-container li {
    cursor: pointer;
    margin-bottom: 5px;
}

#hiddenColumnsContainer h3{
    text-align:center;
   }
   
   /* Search form */
   #searchForm{
    transform:translatex(-4px) translatey(-16px);
   }
   
   /* Heading */
   .container h1{
    text-align:center;
    text-transform:none;
    font-style:normal;
    text-shadow:rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
   }
   
   /* Search button */
   #searchForm .search-button{
    width:158px;
    transform:translatex(33px) translatey(-5px);
   }
   
   /* Button */
   .container .sidebar button{
    font-size:19px;
    word-spacing:1.2px;
    column-count:1;
    text-align:center;
    line-height:29.1px;
   }
   
   